.App {
    width: 40%;
    margin: 5em auto;
    background-color: rgb(94, 94, 94);
    border-radius: 10px;
    color: #fff;

}

.todo-header {
    padding: 0.5em;
    border-bottom: 1px solid rgb(71, 71, 71);
    text-align: center;
}

.todo-header h1 {
    margin: 0;
}

.form-todo {
    padding: 1em;
    margin: 0 2em;
    border-bottom: 1px solid  rgb(71, 71, 71)
}

.form-todo h2,
.list-todo h2 {
    text-align: center;
    margin-top: 0;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label {
    font-weight: bold;
    font-size: .7em;
    margin-bottom: .4em;
}

.form-control input {
    border: 1px solid #222;
    border-radius: 2px;
    background-color: #2c3035;
    padding: 0.5em;
    color: #dfdfdf;
}


input[type="submit"] {
    background-color: #1f93e0;
    color: #eee;
    display: block;
    width: 100%;
    border: 1px solid #0d629b;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
}


input:hover[type="submit"] {
    background-color: #197bbd;
    border: 1px solid #0b5383;
}